*, *::before, *::after {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    user-select: none;
}

:root {
    --primary-clr: #600068;
    --gray-clr: #a3a3a3;
}

html {
    font-family: 'poppins', sans-serif;
}

body {
    background: linear-gradient(180deg, #EC7AFF 0%, var(--primary-clr) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 1px;
}

button {
    cursor: pointer;
}

.container {
    width: 545px;
    margin: 40px auto;
    display: grid;
    
    position: relative;
}

form {
    display: flex;
    margin-bottom: 10px;
}

input {
    padding: 22px;
    font-size: 22px;
    font-weight: bold;
    color: var(--primary-clr);
    flex: 1;
}

input::placeholder {
    color: #a3a3a3;
}

.add-btn {
    padding: 0 28px;
    color: var(--primary-clr);
    font-weight: bold;
    font-size: 26px;
}

.list-container {
    min-height: 142px;
    background-color: white;
    padding: 36px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

span {
    color: var(--gray-clr);
    font-size: 1.5rem;
}

.nav {
    position: absolute;
    left: 0;
    top: 0;
    translate: -100% 0;
    
}

.nav .nav__btn {
    display: block;
    padding: 20px 0;
    width: 225px;
    color: var(--primary-clr);
    font-size: 1.1rem;
    background-color: white;

}


.nav .nav__btn:last-of-type {
    background-color: rgba(255, 255, 255, 0.3);
}

.list-categorized,
.list-uncategorized,
.list-categorized-tasks,
.nav {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
}

.list-categorized {
    z-index: 2;
}

.list-categorized-tasks {
    display: none;
    padding-top: 71px;
    position: relative;

    z-index: 3;
}

.list-uncategorized {
    display: none;
    z-index: 1;
}

.back-btn {
    padding: 20px;
    padding-right: 0;
    padding-left: 197px;
    border-radius: 100%;
    background-color: transparent;
    
    position: absolute;
    top: 0;
    left: 0;
    translate: -100% 0;
}

.back-btn:hover .fa-arrow-left--big {
    opacity: 1;
}

.fa-arrow-left--big {
    opacity: .6;
    transition: .1s ease-in-out;
    font-size: 2rem;
    color: var(--gray-clr);
    translate: 50% 0;
}

.tasks-title {
    line-height: 1;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary-clr);

    position: absolute;
    top: 24px;
}

.list-uncategorized .list__item,
.list-categorized-tasks .list__item{
    font-style: italic;
    font-weight: normal;
    font-size: 1.17rem;
    border: none;
}

nav .nav__btn {
    background-color: rgba(255, 255, 255, 0.3);
    transform: translate(-100%, 100%);
}

.list {
    max-height: 485px;
    width: 100%;
    overflow-y: auto;
}

.list__item {
    color: var(--primary-clr);
    background-color: #EFEFEF;
    padding: 23px 0;
    padding-right: 23px;
    border-bottom: 3px solid #EC7AFF;
    margin-bottom: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
    word-break: break-all;
    
    display: flex;
    align-items: center;
    
    position: relative;
}

.tasks-completed {
    font-weight: normal;
    font-size: 12px;
    color: var(--primary-clr);
    position: absolute;
    right: 5px;
    bottom: 0;
}

.trash-icon {
    position: absolute;
    right: 10px;
    top: 10px;

    display: none;
}

.trash-icon:hover svg {
    transform: scale(1.6);
}

.radio-btn:hover {
    transform: scale(1.4);
}

.list__item:hover .trash-icon {
    display: block;
}


svg {
    transition: all .2s;
    display: block;
    fill: red;
    height: 1.4rem;
}

.radio-btn {
    position: relative;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-btn::before {
    content: '';
    display: block;
    border-radius: 100%;
    border: 3px solid black;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.radio-btn::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 100%;
    cursor: pointer;
    display: none;

    position: absolute;
}


.radio-btn.ticked::after {
    display: block;
}

.ticked + p {
    text-decoration: line-through;
    color: gray;
}

.list-footer {
    font-size: 19px;
    width: 100%;
    height: 30px;

    display: none;
    justify-content: center;

    position: relative;
}

.delete-btn {
    color: red;
    text-decoration: none;
    
    position: absolute;
    bottom: -5px;
}

.delete-btn:hover {
    color: rgb(255, 78, 78);
}

.progress-mssg {
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    color: var(--primary-clr);

    position: absolute;
    right: 0;
    bottom: 0;
}